.amount-box-container {
	border-radius: 12px;
	background-color: #FFFFFF;
	height: 220px;
	width: 400px;
	padding: 10px 30px;
}

.amout-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 20%;

	font-family: 'Bebas Neue', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.amout-title>p {
	padding-left: 25px;
}

#amount-value {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 40.6px;
	font-weight: 700;
	height: 70px;
	margin-top: 20px;
}

#divider {
	border-radius: 5000px;
	background: #D9D9D9;
	width: 100%;
	height: 2px;
	flex-shrink: 0;
}

#amount-total {
	font-size: 20px;
	height: 40%;
	margin-top: 10px;
	font-family: 'Bebas Neue', sans-serif;
}